html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}

body{background-color:#317ba7;font-family:Verdana, Geneva, sans-serif;}
#big-img{background:url(bg-4.jpg) 0 0 no-repeat;}
#content{background-color:#000;background-color:rgba(0,0,0,0.7);}
h1{color:#FFF;font-size:28px;font-weight:bold;}
h2{color:#fff557;font-size:13px;font-weight:bold;}
h3{color:#FFF;font-size:18px;font-weight:bold;}
p{color:#FFF;font-size:11px;line-height:19px;}